*
{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}



:root{
    --sidebar-width: 280px;
    --header-width: 100%;
    --icon-color: rgb(101, 101, 101);
    --font-color: black;
    --font-family: sans-serif;
    --btn-color: #624bff;
    --icon-color2: #24cff1;
    --text-color: #818a96;
    --text2-color: #757cff;
}


ul,ol
{
    list-style: none;
}

a
{
    text-decoration: none;
}

.container
{
    width: 100%;
    /* padding: 0 15px; */
}


.side-bar
{
    width: var(--sidebar-width);
    /* background-color: red; */
    height: 100vh;
    /* display: none; */
    left: 0;
    top: 0;
    position: fixed;
    /* top: 70px; */
    overflow-y: scroll;
    overflow-x: hidden;
}

main{
    width: 100%;
}


.main-wrapper
{
    margin-left: var(--sidebar-width);
}


/* .head
{
    padding: 25px 0;
    background-color: aqua;
    height: 60px;
    position: fixed;
    top: 0;
    left: var(--sidebar-width);
} */


.content
{
    width: 100%;
    background-color:#f1f5f9;
    /* height: 100vh; */
    margin-top: 70px;
    padding: 12px;
}


.row
{
    left: var(--sidebar-width);
    background-color: white;
    display: flex;
    flex-wrap: wrap;
    height: 70px;
    /* padding: 25px 0; */
    position: fixed;
    top: 0;
    width: calc(100% - 280px);
    color: black;
    align-items: center;
}







.w-1
{
    width: 8.33%;
}
.w-2
{
    width: 16.66%;
}
.w-3
{
    width: 25%;
}
.w-4
{
    width: 33.33%;
}
.w-5
{
    width: 41.66%;
}
.w-6
{
    width: 50%;
}
.w-7
{
    width: 58.33%;
}
.w-8
{
    width: 66.66%;
}
.w-9
{
    width: 75%;
}
.w-10
{
    width: 83.33%;
}
.w-11
{
    width: 91.66%;
}
.w-12
{
    width: 100%;
}

.header
{
    align-items: center;
}

.left-head
{
    width: var(--sidebar-width);
    /* background-color: green; */
    display: flex;
    /* border-right: 2px solid #d9dee7; */
    /* height: 70px; */
}

.left-head img
{
    text-align: center; 
    /* padding: 17px 34px; */
}

.home-icon
{
    color: var(--font-color);
}

.right-head input
{
    border: none;
    background: transparent;
}

.right-head input::placeholder
{
    border: none;
}

.rightin1
{
    border: 2px solid black;
    padding: 10px;
    border-radius: 10px;
}

.right-head
{
    display: flex;
}


.menu-icon
{
    padding: 10px;
    font-size: 20px;
    color: var(--font-color);
}

.last-head img
{
    border-radius: 50%;
}

.search-icon
{
    color: var(--font-color);
}


.last-head a
{
    color: var(--font-color);
}


.right-head-main
{
    display: flex;
    flex-grow: 1;
    justify-content: space-between;
}

.rightin1 input::placeholder
{
    color: var(--font-color);
}

/* .last-head i{
    font-size: 60px;
} */


.last-head
{
    display: flex;
    align-items: center;
}

.last-head .last-ul
{
    display: flex;
}

.last-head .last-li
{
    margin: 10px;
    font-size: 20px;
    color: var(--font-color);
}








/* Side bar */
.nav-link
{
    /* background-color: yellow; */
    padding: 22px;
    height: 70px;
}


.link-main .link-main-li
{
    position: relative;
    /* display: flex; */
}

.link-main .right-icon
{
    position: absolute;
    right: 0;
}

/* .link-main */

    /* height: 100vh; */
    /* background-color: gray; */
    /* margin-top: 13px; */


.link-main .main-dashboard
{
    width: 100%;
    display: flex;
    /* background-color: pink; */
    flex-grow: 1;
    padding: 10px;
}


.mid-txt
{
    margin-left: 10px;
    font-family: var(--font-family);
    color: black;
}

.right-icon 
{
    color: var(--text-color);
}







/* Drop down */

.drop-down
{
    /* background-color: green; */
    padding: 0 10px;
}

.drop-down-ul
{
    padding: 20px;
}

.drop-down-li
{
    padding: 5px 0px;
    font-family: var(--font-family);
}

.drop-down-li a
{
    color: var(--text-color);
    transition: all 0.5s;
}






/*  Apps Links*/

.apps-main
{
    font-family: sans-serif;
    padding: 10px;
}


.apps-txt1
{
    margin: 8px 0;
}














/* Content part */

.ecommerce-txt
{
    display: flex;
    /* background-color:yellow; */
    justify-content: space-between;
    padding: 10px;
    align-items: center;
}

.ecommerce-txt h2
{
    font-family: var(--font-family);
}


.ecommerce-txt button
{
    padding: 10px 20px;
    border: none;
    background-color: var(--btn-color);
    border-radius: 10px;
}

.ecommerce-txt button a
{
    font-weight: 700;
    color: white;
    font-size: 15px;
}



.top-boxes
{
    /* background-color: yellow; */
    /* height: 100px; */
    padding: 10px;
    display: flex;
    flex-wrap: wrap;
    margin-top: 10px;
}

.top-first-box
{
    padding: 0 10px;
}

.top-sec-box
{
    padding: 0 10px;
}

.top-third-box
{
    padding: 0 10px;
}

.top-fourth-box
{
    padding: 0 10px;
}



.first-box-cont
{
    background-color: #fff;
    padding: 22px;
    border-radius: 12px;
    border: 1px solid rgb(194, 194, 194);
}

.sec-box-cont
{
    background-color: #fff;
    padding: 22px;
    border-radius: 12px;
    border: 1px solid rgb(194, 194, 194);
}

.third-box-cont
{
    background-color: #fff;
    padding: 22px;
    border-radius: 12px;
    border: 1px solid rgb(194, 194, 194);
}

.fourth-box-cont
{
    background-color: #fff;
    padding: 22px;
    border-radius: 12px;
    border: 1px solid rgb(194, 194, 194);
}



.orders-txt
{
    display: flex;
    justify-content: space-between;
}

.orders-txt h3
{
    font-family: var(--font-family);
    color: var(--text-color);
    font-size: 16px;
}

.icon-shopping
{
    color: var(--icon-color2);
    font-size: 20px;
}


.numbers-txt
{
    display: flex;
    align-items: center;
    margin-top: 15px;
}

.numbers-txt h2
{
    font-family: var(--font-family);
    font-size: 27px;
}

.numbers-txt span
{
    margin-left: 17px;
    color: red;
    font-family: var(--font-family);
}

.last-txt
{
    margin-top: 15px;
}

.last-txt h3 a
{
    color: var(--text2-color);
    font-family: var(--font-family);
}












/* Chart part */

.main-chart-part
{
    /* background-color: yellow; */
    /* height: 100px; */
    padding: 10px;
    display: flex;
    margin-top: 10px;
}

.left-chart
{
    /* background-color: orange; */
    padding: 0 10px;
}

.right-chart
{
    /* background-color: orange; */
    padding: 0 10px;
}

.left-chart-cont
{
    background-color: #fff;
    padding: 20px;
    border: 1px solid rgb(194, 194, 194);
    border-radius: 12px;
}

.right-chart-cont
{
    background-color: #fff;
    padding: 20px;
    /* height: 531px; */
    border: 1px solid rgb(194, 194, 194);
    border-radius: 12px;
    overflow: hidden;
}


.chart-data
{
    background-color: #f1f5f9;
    display: flex;
    justify-content: space-between;
    padding: 20px;
    margin-top: 20px;
    border-radius: 12px;
}

.sans-serif
{
    font-family: sans-serif;
}

.mt-10
{
    margin-top: 10px;
}



.drop-down-a:hover
{
    color: var(--btn-color);
}









.right-chart-cont-2
{
    background-color: #fff;
    padding: 20px;
    /* height: 531px; */
    border: 1px solid rgb(194, 194, 194);
    border-radius: 12px;
    overflow: hidden;
    margin-top: 20px;
    height: 265px;
}

















/* 3d Map Section */

.map-main
{
    /* background-color: yellow; */
    width: 100%;
    padding: 10px;
    display: flex;
    margin-top: 10px;
}

.map-part-left
{
    /* background-color: green; */
    padding:  10px;
}

.map-part-right
{
    /* background-color: green; */
    padding:  10px;
}

.map-part-left-cont
{
    /* background-color: #24cff1; */
    padding: 20px;
    border-radius: 10px;
    height: 595px;
    border: 1px solid rgb(194, 194, 194);
    background-color: white;
}

.map-part-right-cont
{
    /* background-color: #24cff1; */
    padding: 20px;
    border-radius: 10px;
    border: 1px solid rgb(194, 194, 194);
    background-color: white;
    /* display: flex; */
}


.map-right-inner
{
    /* background-color: red; */
    display: flex;
}

.map-right-top
{
    /* background-color: red; */
    height: 20px;
}

/* .map-right-top2
{
    background-color: #624bff;
} */


.map-right-top h3
{
    font-family: var(--font-family);
}

.map-right-top2 span
{
    font-family: var(--font-family);
}

.tr1
{
    /* background-color: yellowgreen; */
    width: 100%;
    /* border: 1px solid rgb(194, 194, 194); */
}

.th1
{
    padding: 0 37px;
    font-family: var(--font-family);
    border: 1px solid rgb(194, 194, 194);
}

.td1
{
    /* background-color: pink; */
    text-align: center;
    padding: 10px;
    font-family: var(--font-family);
    border: 1px solid rgb(194, 194, 194);
    
}













/* Last 2 Tables */

.last-table
{
    width: 100%;
    /* background-color: yellow; */
    padding: 10px;
    display: flex;
}

.last-table-left
{
    /* background-color: aqua; */
    padding: 10px;
    overflow-x: scroll;
    border: 1px solid rgb(194, 194, 194);
    background-color: white;
    border-radius: 20px;
}

.last-table-right
{
    background-color: white;
    border-radius: 20px;
    padding: 10px;
    /* background-color: white; */
    border-radius: 20px;
    margin-left: 30px;
    border: 1px solid rgb(194, 194, 194);
    /* overflow-x: scroll; */
}

.last-left-cont
{
    width: 100%;
    /* background-color: pink; */
    padding: 0 20px;
}

.last-right-cont
{
    /* background-color: pink;   */
    padding: 0 20px;
    
    display: flex;
}

.d-flex
{
    display: flex;
}

.last-left-top
{
    width: 100%;
}
.last-left-top h3
{
    font-family: var(--font-family);
    margin-top: 20px;
}
.th2
{
    padding: 0 37px;
    font-family: var(--font-family);
    border: 1px solid rgb(194, 194, 194);
}



.last-tbl
{
    margin-top: 30px;
    padding: 20px;
}